version: '3.8'

services:
  
  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      
      MYSQL_ROOT_PASSWORD: "123456"
      MYSQL_DATABASE: teste
    ports:
      
      - "3308:3306"
    volumes:
      
      - db_data:/var/lib/mysql
      
      - ./db_init:/docker-entrypoint-initdb.d
      
  
  web:
    build: .  
    container_name: app-php
    ports:
      - "8080:80" 
    depends_on:
      - db 
    volumes:
      
      - .:/var/www/html
      

volumes:
  db_data: